<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thread>
                <tr>
                    <th>#</th>
                    <th>이름</th>
                </tr>
            </thread>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.name}"></td>
            </tr>
            </tbody>
        </table>
    </div> <!-- /container -->
</div>
</body>
</html>